<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinchd.web.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yinchd.web.model.UserModel">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="avatar" property="avatar" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="telephone" property="telephone" />
        <result column="nation" property="nation" />
        <result column="status" property="status" />
        <result column="dept" property="dept" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="last_update_by" property="lastUpdateBy" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
